<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org>
<head>
<meta charset="UTF-8">
<link href = "css/styles.css" rel = "stylesheet"/>
<title>Double Bed Balcony</title>
</head>
<body>

 	<div class="wrapper">
	<div class="container">
	<h2>Double Bed Balcony</h2>
	
	<p> <span th:text="${current_user.username}"></span></p>







	<a href="userExistingBookings">Click here to check your existing bookings</a>
	
	<p></p>
	
	<a href="logout">Click here to logout</a>
	
	</div>
	</div>
	
	

</body>
</html>
