<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org>
<head>
<meta charset="UTF-8">
<link href = "css/styles.css" rel = "stylesheet"/>
<title>Single Bed</title>
</head>
<body>

 	<div class="wrapper">
	<div class="container">
	<h2>Single Bed</h2>
	
	<p> <span th:text="${current_user.username}"></span></p>
	
	<form th:action="singleBedPage" method="post">
	    <div>
	        <label for="start_date">Select check in date:</label>
	        <input id="start_date" type="date"/>
	    </div>
	    <div>
	        <input type="submit" value="Next"/>
	    </div>
	</form>






	<a href="userExistingBookings">Click here to check your existing bookings</a>
	
	<p></p>
	
	<a href="logout">Click here to logout</a>
	
	</div>
	</div>
	
	

</body>
</html>
